

  html,
  body {
    background: rgb(236, 240, 241);
  }

  .content {
    width: 850px;
    margin: auto;
    margin-bottom: 350px; /* Same height as footer */
    padding: 100px 0;
  }
  h1 {
    color: #111;
    font-size: 3em;
    font-weight: 900;
    padding: 0 0 20px 0;
  }
  h2 {
    color: #111;
    font-size: 2em;
    font-weight: 900;
    padding: 0 0 15px 0;
  }
  p {
    font-size: 1.25em;
    padding: 0 0 40px 0;
  }

  .fixed_footer {
    width: 100%;
    height: 350px;
    background: #111;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -100;
  }
  .fixed_footer p {
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
  }
