:root {
  --transition: all 0.3s linear;

}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(210, 36%, 96%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(209, 28%, 39%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #210248;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  margin-right: 1rem;
}
.nav-toggle:hover {
  color: #9AA4ec;
}
.logo {
  height: 6rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.links a {
  color: white;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  font-family: Aileron;
  font-style: normal;
  font-weight: 250;
  line-height: 36px;
}
.links a:hover {
  color: #9AA4ec;
  padding-left: 1.5rem;
}
.home-link{
  color: white;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 800;
  font-size: 1.5rem;
  align-items: center;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}
.home-link:focus,
.home-link:hover {
    color: #9AA4ec;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

